@import "variables";

.post p a {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    font-size: 18px;
}

a {
    color: $purple !important;
    &:hover, &:active {
      color: $blue !important;
    }
  }

code.language-plaintext {
    font-family: $monospace, monospace !important;
    color: $blue;
    background-color: transparent;
}

blockquote {
    font-size: 90% !important;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: $mediaSize; 
}

.post img {
    @extend .centered;
    width: 100%;
    max-width: 400px;
}

.tenor-gif-embed {
  @extend .centered;
  margin-left: 25%
}

.caption {
  @extend .centered;
  text-align: center;
  color: $gray;
}

table {
    margin: 0 auto !important;
}

table {
    border: 2px solid #FFFFFF;
    background-color: #62676D;
    text-align: center;
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid #FFFFFF;
    padding: 3px 10px;
  }
  table tbody td {
    font-size: 13px;
  }
  table thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
  }
  table tfoot td {
    font-size: 14px;
  }