
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$purple: #b743e6;
$darkPurple: #8732a8;
$lightPurple: #d08deb;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #999;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$monospace: 'Anonymous Pro', 'Lato', 'Bitstream Vera Sans Mono', 'Courier';

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
