---
layout: default
comments: true
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <br>
  <br>
  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- After article ad -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6866836036667235"
       data-ad-slot="5708521905"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  
  {% include disqus.html %}
  
</article>
